.container {
  display: flex;
  flex-direction: column;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 0;
  justify-content: center;
  & li {
    list-style-type: none;
    border: 1px solid #551a8b;
    border-radius: 8px;
    cursor: pointer;
  }
  & a {
    text-decoration: none;
  }
}

.img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.text {
  margin-bottom: 25px;
}

.recipeName {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .list {
    padding: unset;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 30px;
    & li {
      max-width: unset;
    }
  }

  .recipeName {
    font-size: 20px;
  }

  .container {
    gap: 15px;
  }

  .text {
    margin-bottom: 30px;
  }
}
