.wrapper {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.input {
  padding: 4px 10px;
  border-radius: 8px;
  font: inherit;
  border: 1px solid #551a8b;
  outline: none;
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 6px;
  color: #551a8b;
}

@media screen and (min-width: 768px) {
  .input {
    padding: 8px 32px 8px 8px;
  }
}
