.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 52px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #551a8b;
}

.nav {
  display: flex;
}

.logo {
  font-weight: 700;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 29px;
}

.link {
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

.active {
  color: white;
  background-color: #551a8b;
}
