.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between;
  gap: 52px; */
  padding: 8px 0;
  border-bottom: 1px solid #551a8b;
  gap: 25px;
}

.nav {
  display: flex;
  gap: 3px;
}

.logo {
  font-weight: 700;
  margin: 0;
  display: flex;
  align-items: center;
  /* font-size: 29px; */
  font-size: 14px;
}

.link {
  /* padding: 8px 16px; */
  padding: 4px 8px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  /* font-size: 20px; */
  font-size: 12px;
}

.active {
  color: white;
  background-color: #551a8b;
}

.titleIcon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
  }

  .logo {
    font-size: 29px;
  }

  .link {
    padding: 8px 16px;
    font-size: 20px;
  }

  .titleIcon {
    width: 44px;
    height: 44px;
  }
}
